.card {
  cursor: pointer;
  border: none;
  background: none;


  .card-body {
    display: flex;


    img {
      width: 30px;
      height: 30px;
      border-radius: 100%;
    }

    .textos {
      margin-left: 10px;

      .card-title {
        font-size: 14px;
        color: #333333;
        font-weight: 500;

        /*text-align: center;*/
      }
    }

  }
}
